* {
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

a {
	color: #03A9F4;
	line-height: 1em;
	text-decoration: none;
    border-bottom: solid 2px;
}

h1,
h2,
h3,
h4,
p {
	position: relative;
	z-index: 2;
}

/* Helpers */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.red {
	color: #F44336;
	font-weight: bold;
	text-transform: uppercase;
}

.yellow {
	color: #FFC107;
	font-weight: bold;
	text-transform: uppercase;
}

.blue {
	color: #3498db;
	font-weight: bold;
	text-transform: uppercase;
}

.purple {
	color: #8e44ad;
	font-weight: bold;
	text-transform: uppercase;
}


/* Typography */
body {
	-webkit-text-size-adjust: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: white;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Raleway', sans-serif;
}

h2,
h3,
h4,
h5 {
	line-height: 1.5em;
}

h1{
	font-size: 4.236em;
}

h2{
	font-size: 3.3em;
}

h3{
	font-size: 2.3em;
}

h3 > i.fa {
	font-size: 1.5em;
	margin-right: 10px;
}

h4, h5 {
	margin-top: 0;
	font-size: 2em;
	font-weight: normal;
}

h5 {
	margin-bottom: 0;
	font-weight: bold;
}

p,
b,
.list li,
.listFixed li {
	font-size: 2em;
	line-height: 1.3em;
}

.small,
i {
	font-size: 1.5em;
}

.stat_number i.fa {
	margin-left: 0.5em;
}

.stat_number .odometer {
	font-size: 5em;
	font-family: 'Open sans';
	font-weight: bold;
}


.timeline_title {
	font-size: 2.5em;
	margin-top: 0;
}

.timeline_title > .badge {
	font-size: .6em;
}

.timeline_desc {
	font-size: 1.5em;
}

.timeline_date {
	font-size: 4.8em;
}

.fa-ul > i.fa {
	font-size: 1em;
}

.list  b,
.listFixed b {
	font-size: 1em;
}

.listFixed .small {
	font-size: .8em;
}

.bus {
	font-size: 2em;
	text-align: center;
}

.bus:first-child {
	text-align: left;
}

.route_controls > div:nth-child(2n+1) {
	font-size: 1.5em;
}

.entity_text p {
	font-size: 1.8em;
}

.drop_question {
	font-size: 2.5em;
}

.drop_question i.fa {
	font-size: .8em;
}

.drop_answer p {
	line-height: 1.5em;
}

.set {
	font-size: 4em;
}

footer {
	font-size: 1.2em;
}

/* Structure */

section {
	min-height: 100vh;
}

.wrapper {
}

.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	padding: 40px;
	overflow: hidden;
}

.badge {
	padding: 5px 10px;
	border-radius: 3px;
	margin-left: 10px;
	background: #03A9F4;
	display: inline-block;
}

.party {
	background: #E91E63;
}

.sports {
	background: #2ECC71;
}


/* Section 1 */
section:nth-child(1) {
	background: #F44336;
	position: relative;
}

#boas-vindas h1 {
	color: #f1c40f;
}

#animated-unicamp-svg {
	position: absolute;
	width: 70%;
	top: 5%;
	left: 20%;
	z-index: 0;
}


/* Section 2 */
section:nth-child(2) {
	background: #34495e;
}

#o-curso h1,
#o-curso .odometer {
	color: #2ecc71;
}

.stats {
	margin-top: 20px;
	display: -webkit-box;
	display: flex;
	flex-flow: row wrap;
}

.stat {
	border: 1px dashed #2ecc71;
	width: calc(100% / 4 - 15px);
	box-sizing: border-box;
	padding: 20px;
	margin: 0 10px;
	text-align: center;
}

.stat:first-child {
	margin-left: 0;
}

.stat:last-child {
	margin-right: 0;
}

.stat_number {
	margin-top: 10px;
}

.stat_detail > p {
	margin-top: 0;
	margin-bottom: 10px;
	color: #2ecc71;
}


/* Section 3 */
section:nth-child(3) {
	background: #3F51B5;
}

#calendario h1,
#calencario h3,
#calendario a {
	color: #FFC107;
}

.timeline,
.timeline_events {
	list-style-type: none;
	-webkit-padding-start: 0;
	-moz-padding-start: 0;
	display: -webkit-box;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.timeline > li {
	display: inline-block;
	width: 100%;
	margin-bottom: 60px;
}

.timeline > li:last-child {
	margin-bottom: 20pt;
}

.timeline_date {
	float: left;
	width: 30%;
}

#calendario .timeline_date {
	color: #FFC107;
}

.timeline_events {
	float: left;
	border-left: 2px solid white;
	width: 70%;
	box-sizing: border-box;
}

.timeline_events > li {
	display: inline-block;
	width: 100%;
	padding-left: 25px;
	box-sizing: border-box;
}

.timeline_events > li:not(:first-child) {
	margin-top: 30px;
}

.timeline_title > div {
	float: left;
}

.timeline_title > .badge {
	float: right;
}

.timeline_desc {
	clear: both;
	word-wrap: break-word;
	margin-top: 5px;
}


/* Section 4 */
section:nth-child(4) {
	background: #34495e;
}

#matricula h1,
#matricula h3,
#matricula i.fa,
#matricula a,
#matricula b {
	color: #3498db;
}

.panel {
	display: -webkit-box;
	display: flex;
}

.panel > div {
	width: 50%;
	text-align: left;
	padding-left: 15px;
	box-sizing: border-box;
}

.panel > div.info {
	padding-left: 0;
	padding-right: 20px;
}

.panel > div.docs {
	padding: 0 20px 0 20px;
	border: 1px solid #2980b9;
}

.list {
	list-style-type: none;
	-webkit-padding-start: 0;
	-moz-padding-start: 0;
	display: -webkit-box;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	padding-left: 1.7em;
}

.list > li {
	display: inline-block;
	width: 100%;
	margin-bottom: 1.5em;
	box-sizing: border-box;
}

.list > li .small {
	font-size: .8em;
	line-height: 1em;
}

.listFixed {
	width: 50%;
	float: left;
	-webkit-padding-start: 0;
	-moz-padding-start: 0;
	padding-left: 3.5em;
	box-sizing: border-box;
}

.listFixed > li {
	width: 100%;
	margin-bottom: 1.5em;
	box-sizing: border-box;
}

ol.infoList {
	padding-left: 0;
}

/* Section 5 */
section:nth-child(5) {
	background: #673AB7;
}

#mapa h1,
#mapa h3,
#mapa b,
#mapa a {
	color: #FFC107;
}

.trans {
	display: -webkit-box;
	display: flex;
	padding: 10px 0;
}

.bus {
	width: calc(100% / 3);
}

.locals {
	margin-top: 20px;
}

.locals > .listFixed {
	list-style: none;
	float: left;
	width: 50%;
	padding-left: 3.5em;
	box-sizing: border-box;
}

.locals > .listFixed:first-child {
	padding-left: 0;
}

#mapa > p {
	margin-top: 0;
}

.route_controls {
	margin-bottom: 20px;
}

.route_controls > div {
	float: left;
	width: 40%;
}

.route_controls .select_control {
	width: 40%;
	border: 1px solid white;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
}

.route_controls .select_control:before {
	content: '';
	width: 0;
	height: 0;
	right: 15px;
	top: 15px;
	position: absolute;
	pointer-events: none;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #FFFFFF;
 }

.route_controls .select_control select {
	padding: 10px;
	width: 100%;
	border: none;
	color: white;
	box-shadow: none;
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.route_controls .select_control select option {
	background: white;
	color: black;
}

.route_controls .select_control select:focus {
	outline: none;
}

.route_controls > div:nth-child(2n+1) {
	padding: 10px;
	width: 10%;
	box-sizing: border-box;
}

#map-canvas {
	height: 500px;
}

/* Section 6 */
section:nth-child(6) {
	background: #34495e;
}

#extra h1,
#extra > h3,
#extra > a,
#extra b,
#extra .timeline_date {
	color: #FF6D00;
}

#extra b {
	font-size: 1em;
}

#extra > p {
	line-height: 1.5em;
	margin-top: 0;
}

.entities {
	width: 100%;
	margin-bottom: 20pt;
}

.entity {
	float: left;
	cursor: pointer;
	position: relative;
	border: 1px solid #34495e;
	width: calc(100% / 4);
	box-sizing: border-box;
	padding: 20px;
	text-align: center;
	min-height: 250px;
}

.entity:first-child {
	margin-left: 0;
}

.entity:last-child {
	margin-right: 0;
}

.entity_front,
.entity_back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.entity_front,
.entity_back {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.entity_front {
	text-align: center;
	background-color: #FFFFFF;
}

.entity_back {
	background-color: #FF6D00;
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	padding: 20px;
	box-sizing: border-box;
}

.entity:hover .entity_front {
	-ms-transform: scale(.95, .95);
	-webkit-transform: scale(.95, .95);
	transform: scale(.95, .95);
}

.entity.flipped:hover .entity_back {
	-ms-transform: scale(.95, .95);
	-webkit-transform: scale(.95, .95);
	transform: scale(.95, .95);
}

.entity.flipped .entity_front {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.entity.flipped .entity_back {
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
}


.entity_front img {
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.entity_text h3 {
	margin-top: 10px;
}

.entity_text a {
	color: white;
}

.training {
	margin-top: 10px;
	display: -webkit-box;
	display: flex;
}

.training .list {
	padding-left: 0;
	width: calc(100% / 3);
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

/* Section 7 */
section:nth-child(7) {
	background: #16a085;
}

#help h1,
#help h3,
#help a {
	color: #f1c40f;
}

.faq {
	display: -webkit-box;
	display: flex;
	margin-bottom: 20px;
	margin-left: -10px;
	margin-right: -10px;
}

.faq_cat {
	width: 50%;
	box-sizing: border-box;
	padding: 0 10px;
}

.drop {
	border: 1px solid white;
	cursor: pointer;
	margin-bottom: -1px;
}

.drop_question {
	padding: 20px;
}

.drop_question i.fa {
	margin-right: 10px;
}

.drop_answer {
	border-top: 1px solid white;
	padding: 0 20px 10px 20px;
	display: none;
	background: rgba(0, 0, 0, 0.2);
}

.active .drop_answer {
	display: block;
}

.tips .listFixed,
.utilities .listFixed {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	box-sizing: border-box;
	padding-left: 4.5em;
}

.tips .listFixed:first-child,
.utilities .listFixed:first-child {
	padding-left: 3.5em;
}

.tips .listFixed {
	list-style-type: circle;
}

.utilities .listFixed {
	list-style-type: square;
}

footer {
	text-align: center;
	padding-top: 10px;
	margin-top: 30px;
	border-top: 1px solid white;
}

/* Media queries */
@media (min-width: 1400px) {
	body {
		font-size: 16px;
	}

	p,
	b,
	.list li {
		line-height: 1.5em;
	}

}

@media (min-width: 768px) {
	body {
		font-size: 10px;
	}

	.entity_text p {
		font-size: 1.3em;
	}

	.drop_question {
		font-size: 1.8em;
	}

	.drop_answer {
		font-size: .8em;
	}
}

@media (max-width: 768px) {
	body {
		font-size: 8px;
	}

	.stat {
		width: calc(50% - 15px);
		margin-bottom: 20px;
	}

	.stat:nth-child(3) {
		margin-left: 0;
	}

	.panel {
		display: block;
	}

	.panel > div {
		width: 100%;
		padding: 0;
	}

	.entity {
		width: 50%;
	}

	.faq {
		display: block;
	}

	.faq_cat {
		width: 100%;
	}
}

@media (max-width: 600px) {
	.timeline_date,
	.timeline_events {
		width: 100%;
		float: none;
	}

	.timeline_date {
		padding-bottom: 5px;
	}

	.timeline_events {
		border-left: none;
		border-top: 2px solid #FFC107;
		padding-top: 25px;
	}

	#extra .timeline_events {
		border-top: 2px solid #FF6D00;
	}

	.timeline_events > li {
		padding-left: 0;
	}

	.route_controls > div {
		float: none;
		width: 100%;
	}

	.route_controls > div:nth-child(2n+1) {
		padding-left: 0;
	}

	.route_controls > .select_control {
		width: 100%;
	}

	.tips .listFixed, .utilities .listFixed {
		width: 100%;
		float: none;
		padding-left: 3.5em;
	}
}

@media (max-width: 480px) {
	.content {
		padding: 20px;
	}

	#animated-unicamp-svg {
		width: 100%;
		top: 25%;
		left: 15%;
	}

	.stats {
		display: block;
	}

	.stat {
		width: 100%;
		margin: 0;
		margin-top: 20px;
	}

	.stat:first-child {
		margin-top: 0;
	}

	.resize {
		width: 67%;
	}

	#map-canvas {
		height: 300px;
	}

	.locals > .listFixed {
		width: 100%;
		display: block;
		padding-left: 0;
	}

	.set {
		font-size: 4.8em;
	}

	.entity {
		width: 100%;
	}

}
